<templateSet group="MybatisPlusXml">
  <template name="mresultMap" value="&lt;resultMap id=&quot;$var1$&quot; type=&quot;$var2$&quot;&gt;&#10;     &lt;result column=&quot;$var3$&quot; property=&quot;$var4$&quot;/&gt;&#10;     &lt;collection property=&quot;$var5$&quot; ofType=&quot;$var6$&quot;&gt;&#10;         &lt;id column=&quot;$var7$&quot; property=&quot;$var8$&quot;/&gt;&#10;     &lt;/collection&gt;&#10; &lt;/resultMap&gt;&#10;" description="Xml resultMap MybatisPlus plugin" toReformat="false" toShortenFQNames="false">
    <variable name="SELECTION" expression="" defaultValue="" alwaysStopAt="false" />
    <context />
  </template>
</templateSet>